*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(242, 246, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame span{
    cursor: pointer;
    font-size: 3vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 5vw;
    padding: 0 4vw;
    /* background-color: #fff; */
    /* transform: translateY(-5vw); */
}
.frame {
    /* background-color: red; */
    height: 5vw;
    overflow: hidden;
    z-index: 2;
}
#circle{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50vw;
    height: 2vw;
    width: 2vw;
    background-color: palevioletred;
}
#frames{
    display: flex;
    gap: 3px;
}